
*{



}


.grid-container{


height:100vh;
margin: 0;
padding: 0;
display: grid;	
grid-gap: 10px;
grid-template-rows: 1fr 3fr ;
grid-template-columns: 1fr 3fr  ;
grid-template-areas: "header header" 
                     "aside listes-film"; 

}



header {
    border: 1px solid #ECF7FF ; 
	grid-area: header;
	text-align: center;
	padding: 60px ;

}

aside{
  
    border : 1px solid #80C8FF ;
	grid-area: aside;
}


.film{

    margin: 12px; 
	grid-area : listes-film;
	border: 1px solid #ECF7FF;
	display: grid ;
	grid-gap: 10px; 
	grid-template-columns:  repeat(1fr,1fr,1fr,1fr,1fr);
	grid-template-rows: repeat(1fr, 1fr); 
	padding: 50px; 
	



}


.film:first-child{


width: 70rem ;	
    














	}